In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import statsmodels.api as sm
import warnings

In [2]:
path = 'C:\\Users\\Marce\\careerfoundry\\World Food fit'

In [3]:
data = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'emissions.csv'))

In [4]:
data2 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'temperatures.csv'))

In [5]:
data.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,GT,Emissions Totals,2,Afghanistan,7225,Emissions (CH4),1711,IPCC Agriculture,2000,2000,3050,FAO TIER 1,kilotonnes,308.4856,Fc,Calculated data,NaN
1,GT,Emissions Totals,2,Afghanistan,7234,Direct emissions (N2O),1711,IPCC Agriculture,2000,2000,3050,FAO TIER 1,kilotonnes,7.7258,Fc,Calculated data,NaN
2,GT,Emissions Totals,2,Afghanistan,7236,Indirect emissions (N2O),1711,IPCC Agriculture,2000,2000,3050,FAO TIER 1,kilotonnes,2.7905,Fc,Calculated data,NaN
3,GT,Emissions Totals,2,Afghanistan,7230,Emissions (N2O),1711,IPCC Agriculture,2000,2000,3050,FAO TIER 1,kilotonnes,10.9861,Fc,Calculated data,NaN
4,GT,Emissions Totals,2,Afghanistan,724413,Emissions (CO2eq) from CH4 (AR5),1711,IPCC Agriculture,2000,2000,3050,FAO TIER 1,kilotonnes,8637.5967,Fc,Calculated data,NaN

In [6]:
data.shape

(184730, 17)

In [7]:
data2.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,2000,2000,?C,1.596,Fc,Calculated data
1,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,2001,2001,?C,-0.569,Fc,Calculated data
2,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,2002,2002,?C,1.640,Fc,Calculated data
3,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,2003,2003,?C,2.536,Fc,Calculated data
4,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,2004,2004,?C,2.744,Fc,Calculated data

In [8]:
data2.shape

(170102, 14)

In [9]:
df = data[['Area','Element','Year','Unit', 'Value']]

In [10]:
df2 = data2[['Area','Element','Months','Year','Unit','Value']]

In [11]:
merged = pd.merge(df, df2, on = ['Area','Year'],indicator=True)

In [12]:
merged.columns

Index(['Area', 'Element_x', 'Year', 'Unit_x', 'Value_x', 'Element_y', 'Months',
       'Unit_y', 'Value_y', '_merge'],
      dtype='object')

In [13]:
merged.head()

,Area,Element_x,Year,Unit_x,Value_x,Element_y,Months,Unit_y,Value_y,_merge
0,Afghanistan,Emissions (CH4),2000,kilotonnes,308.4856,Temperature change,January,?C,1.596,both
1,Afghanistan,Emissions (CH4),2000,kilotonnes,308.4856,Standard Deviation,January,?C,1.947,both
2,Afghanistan,Emissions (CH4),2000,kilotonnes,308.4856,Temperature change,February,?C,-0.881,both
3,Afghanistan,Emissions (CH4),2000,kilotonnes,308.4856,Standard Deviation,February,?C,2.590,both
4,Afghanistan,Emissions (CH4),2000,kilotonnes,308.4856,Temperature change,March,?C,-0.237,both

In [14]:
merged['_merge'].value_counts()

both          6213092
left_only           0
right_only          0
Name: _merge, dtype: int64

In [16]:
merged.isnull().sum()

Area              0
Element_x         0
Year              0
Unit_x            0
Value_x           0
Element_y         0
Months            0
Unit_y            0
Value_y      687052
_merge            0
dtype: int64

In [17]:
merged.shape

(6213092, 10)

In [18]:
merged['Value_y'].fillna(merged['Value_y'].median(),inplace=True)

In [19]:
merged.isnull().sum()

Area         0
Element_x    0
Year         0
Unit_x       0
Value_x      0
Element_y    0
Months       0
Unit_y       0
Value_y      0
_merge       0
dtype: int64

In [20]:
# export merged dataframe for later use

merged.to_csv(os.path.join(path, "02 Data", "Prepared Data", "merged.csv"))