# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from numpy import nan
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import matplotlib

# 02. Importing Data

In [2]:
# set path

path = r'C:\Users\Marce\careerfoundry\food'

In [3]:
# Import dataframe foods(foodprices.csv)

foods = pd.read_csv(os.path.join(path, "02 Data","Original Data", "foodprices.csv"),dtype={'adm1_name': 'str'})

In [4]:
# create new dataset to work with

df_new = foods

In [5]:
# don't show "SettingWithCopyWarning"

pd.options.mode.chained_assignment = None

In [6]:
# set max columns to None

pd.set_option('display.max_columns', None)

In [7]:
# display floating numbers with two decimals

pd.options.display.float_format = '{:20,.2f}'.format

# 03 Consistency checks /// Cleaning

In [8]:
# checking whether the df_new dataframe contains any mixed-type columns

for col in df_new.columns.tolist():
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_new[weird]) > 0:
    print (col)

adm1_name

In [9]:
# new df with relevant columns

df_small = df_new[["adm0_name","adm1_name","mkt_name","cm_name","cur_name","pt_name","um_name", "mp_month","mp_year","mp_price"]].copy()

In [10]:
# finding mixed-type columns in df_small

for col in df_small.columns.tolist():
  weird = (df_small[[col]].applymap(type) != df_small[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_small[weird]) > 0:
    print (col)

adm1_name

In [11]:
# finding missing values in df_small

df_small.isnull().sum()

adm0_name         0
adm1_name    611016
mkt_name          0
cm_name           0
cur_name          0
pt_name           0
um_name           0
mp_month          0
mp_year           0
mp_price          0
dtype: int64

In [12]:
# find duplicates in df_small

df_dups = df_small[df_small.duplicated()]

In [13]:
# no duplicates

df_dups.shape

(0, 10)

In [14]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050638 entries, 0 to 2050637
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   adm0_name  object
 1   adm1_name  object
 2   mkt_name   object
 3   cm_name    object
 4   cur_name   object
 5   pt_name    object
 6   um_name    object
 7   mp_month   int64
 8   mp_year    int64
 9   mp_price   float64
dtypes: float64(1), int64(2), object(7)
memory usage: 156.5+ MB

In [15]:
df_small.shape

(2050638, 10)

In [16]:
# basic descriptive statistics

display(df_small.describe())

                  mp_month              mp_year             mp_price
count         2,050,638.00         2,050,638.00         2,050,638.00
mean                  6.36             2,016.13             6,413.98
std                   3.40                 4.46           106,977.23
min                   1.00             1,990.00                 0.00
25%                   3.00             2,014.00                45.00
50%                   6.00             2,017.00               246.56
75%                   9.00             2,020.00             1,200.00
max                  12.00             2,021.00        21,777,780.00

In [17]:
# high value is in columbian peso (COP) and in megatons (MT), which is 1 million tons, which is 1 billion kilograms
# that equals to 0.021 COP per kilogram, which is 0,0000055 USD per kilogram

df_small.iloc[df_small['mp_price'].idxmax()]

adm0_name                    Colombia
adm1_name                   Antioquia
mkt_name                     Medellin
cm_name      Rice (white) - Wholesale
cur_name                          COP
pt_name                     Wholesale
um_name                            MT
mp_month                            9
mp_year                          2016
mp_price                21,777,780.00
Name: 419865, dtype: object

In [18]:
# replace missing values with NaN

df_small[["adm1_name"]] = df_small[["adm1_name"]].replace("", nan)

In [19]:
df1 = df_small[df_small.isna().any(axis=1)]

In [20]:
# check, flagging with NaN worked

print(df1)

         adm0_name adm1_name          mkt_name  \
19482      Armenia       NaN  National Average
19483      Armenia       NaN  National Average
19484      Armenia       NaN  National Average
19485      Armenia       NaN  National Average
19486      Armenia       NaN  National Average
...            ...       ...               ...
1959802  Venezuela       NaN  National Average
1959803  Venezuela       NaN  National Average
1959804  Venezuela       NaN  National Average
1959805  Venezuela       NaN  National Average
1959806  Venezuela       NaN  National Average

                                     cm_name cur_name pt_name  um_name  \
19482                 Fuel (diesel) - Retail      AMD  Retail        L
19483                 Fuel (diesel) - Retail      AMD  Retail        L
19484                 Fuel (diesel) - Retail      AMD  Retail        L
19485                 Fuel (diesel) - Retail      AMD  Retail        L
19486                 Fuel (diesel) - Retail      AMD  Retail        L
...                                      ...      ...     ...      ...
1959802  Exchange rate (unofficial) - Retail      VEF  Retail  USD/LCU
1959803  Exchange rate (unofficial) - Retail      VEF  Retail  USD/LCU
1959804  Exchange rate (unofficial) - Retail      VEF  Retail  USD/LCU
1959805  Exchange rate (unofficial) - Retail      VEF  Retail  USD/LCU
1959806  Exchange rate (unofficial) - Retail      VEF  Retail  USD/LCU

         mp_month  mp_year             mp_price
19482           1     1996               100.00
19483           2     1996               100.00
19484           3     1996               110.00
19485           4     1996               100.00
19486           5     1996               110.00
...           ...      ...                  ...
1959802         3     2019             3,571.32
1959803         4     2019             4,660.78
1959804         5     2019             5,917.69
1959805         6     2019             6,909.20
1959806         7     2019             8,627.91

[611016 rows x 10 columns]

In [21]:
# no correlation between the numeric variables

df_small.corr()

                     mp_month              mp_year             mp_price
mp_month                 1.00                -0.08                -0.00
mp_year                 -0.08                 1.00                 0.00
mp_price                -0.00                 0.00                 1.00

# Exporting dataframe df_small

In [22]:
df_small.to_pickle(os.path.join(path, "02 Data","Prepared Data", "cleaned.pkl"))

In [23]:
df_small.to_csv(os.path.join(path, "02 Data","Prepared Data", "cleaned.csv"))