# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import scipy
import matplotlib
import matplotlib.pyplot as plt

# 02. Importing Data

In [2]:
# set path

path = r'C:\Users\Marce\careerfoundry\food'

In [3]:
# Import dataframes

df1 = pd.read_csv(os.path.join(path,"02 Data","Original Data","food_prices.csv"), encoding='latin-1')
df2 = pd.read_csv(os.path.join(path,"02 Data","Original Data","world_dev.csv"))

In [4]:
df1.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,1,2014,50.0,WFP
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,2,2014,50.0,WFP
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,3,2014,50.0,WFP
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,4,2014,50.0,WFP
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,5,2014,50.0,WFP

In [5]:
df1.shape

(743914, 18)

In [6]:
df2.head()

,Time,Country,"Total alcohol consumption per capita, male (liters of pure alcohol)",Taxes on goods and services,Tax payments,"Secondary education, pupils",Rural population (%),"Revenue, excluding grants (% of GDP)",Poverty headcount ratio at national poverty lines (% of population),Number of under-five deaths,Multidimensional poverty index (scale 0-1),"Mortality rate, infant (per 1,000 live births)","Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)"
0,2016,Algeria,NaN,NaN,27.0,NaN,28.541,NaN,NaN,25025.0,NaN,21.3,1.9
1,2016,Afghanistan,NaN,4.473712e+10,19.0,2725421.0,74.980,12.678010,54.5,79915.0,0.27,51.3,13.9
2,2016,Andorra,NaN,NaN,NaN,4425.0,11.752,NaN,NaN,2.0,NaN,3.2,NaN
3,2016,AntiguaandBarbuda,NaN,NaN,57.0,NaN,75.154,NaN,NaN,11.0,NaN,6.5,0.1
4,2016,Armenia,NaN,4.510000e+11,14.0,NaN,36.918,22.834729,NaN,587.0,NaN,12.2,0.2

In [7]:
df1.rename(columns={"adm0_name":"Country"}, inplace=True)

In [8]:
# merge data

df_clean = df1.merge(df2, on = ['Country'], how = 'left', indicator= True)

In [9]:
df_clean["_merge"].value_counts()

both          2242035
left_only      295507
right_only          0
Name: _merge, dtype: int64

In [10]:
#pd.set_option('display.max_rows', 500)

In [ ]:
df_clean = df_clean[df_clean['_merge'] =='both']

In [ ]:
df_clean.shape

In [ ]:
df_clean.columns

In [ ]:
df_clean.head(10)

In [ ]:
sub = df_clean[["Time","Country",
                'Poverty headcount ratio at national poverty lines (% of population) ',
       'Number of under-five deaths ',
       'Multidimensional poverty index (scale 0-1)','mp_price', "mp_month"]]

In [ ]:
sub.rename(columns = {'Poverty headcount ratio at national poverty lines (% of population) ' : "poverty"}, inplace = True)

In [ ]:
sub.head(20)

In [ ]:
sub.isnull().sum()

In [ ]:
sub['poverty'].fillna(sub['poverty'].mean(), inplace = True)
sub['Number of under-five deaths '].fillna(sub['Number of under-five deaths '].mean(), inplace = True)
sub['Multidimensional poverty index (scale 0-1)'].fillna(sub['Multidimensional poverty index (scale 0-1)'].mean(), inplace = True)

While I realise this imputation is not optimal, I need to do it because `aggregate` won't work with the loads of NaNs

In [ ]:
g2 = sub.groupby(["Time", "Country", 'poverty', 'Number of under-five deaths ',
       'Multidimensional poverty index (scale 0-1)'], as_index=False).mean('mp_price')

In [ ]:
g2.shape

In [ ]:
g2

In [ ]:
g2.drop(columns = {'mp_month'}, inplace = True)

In [ ]:
g2.head(10)

This is you now! Rerun your visualisations with the new df and the new columns

In [ ]:
# Create a subplot with matplotlib

f,ax = plt.subplots(figsize=(10,10))# create correlation heatmap in seaborn, apply a heatmap onto subplot

corr = sns.heatmap(g2.corr(), annot = True, ax = ax)

In [ ]:
sns.lmplot(x = "Multidimensional poverty index (scale 0-1)",y = "poverty", data = g2)

In [ ]:
sub2 = sub[["Country",
                'poverty',
       'Number of under-five deaths ',
       'Multidimensional poverty index (scale 0-1)']]

In [ ]:
g = sns.pairplot(sub2)

In [ ]:
sns.histplot(df_clean['Poverty headcount ratio at national poverty lines (% of population) '], bins = 15)

In [ ]:
df_clean.loc[df_clean['mp_price'] < 2000, 'Price category'] = 'Low price'

In [ ]:
df_clean.loc[df_clean['mp_price'] >= 2000, 'Price category'] = 'High price'

In [ ]:
df_clean['Price category'].value_counts(dropna = False)

In [ ]:
df_clean.columns

In [ ]:
# Create a categorical plot in seaborn using the price categories created above

sns.set(style="ticks")
g = sns.catplot(x="Time", y="mp_price", hue="Price category", data=df_clean)

In [ ]:
df_clean.to_pickle(os.path.join(path, "02 Data","Prepared Data", "merged.pkl"))

### From my questions I can't answer any with the visualizations.

# H0 = Increasing years don't have an effect on prices.
# H1 = Increasing years have a positive effect on prices.