### Importing libraries and data and renaming columns

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import statsmodels.api as sm
import warnings
import calendar

In [2]:
path = 'C:\\Users\\Marce\\careerfoundry\\food'

In [3]:
data = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'new.csv'))

In [4]:
warnings.filterwarnings("ignore")

plt.style.use('fivethirtyeight')

In [5]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [6]:
pd.set_option('precision', 0)

In [7]:
pd.set_option('display.max_rows', None)

In [8]:
data.head(5)

       Country Product/Category Currency  Month  Year  Price
0  Afghanistan   Bread - Retail      AFN      1  2014 50.000
1  Afghanistan   Bread - Retail      AFN      2  2014 50.000
2  Afghanistan   Bread - Retail      AFN      3  2014 50.000
3  Afghanistan   Bread - Retail      AFN      4  2014 50.000
4  Afghanistan   Bread - Retail      AFN      5  2014 50.000

In [9]:
data.shape

(1048575, 6)

In [10]:
data.isnull().sum()

Country             0
Product/Category    0
Currency            0
Month               0
Year                0
Price               0
dtype: int64

In [11]:
df2 = data.groupby(['Country','Product/Category','Currency','Month','Year'],as_index=False).mean("Prices")

In [12]:
df2['Month'] = df2['Month'].apply(lambda x: calendar.month_abbr[x])

In [13]:
df2.head(10)

       Country Product/Category Currency Month  Year  Price
0  Afghanistan   Bread - Retail      AFN   Jan  2000 15.250
1  Afghanistan   Bread - Retail      AFN   Jan  2001 17.830
2  Afghanistan   Bread - Retail      AFN   Jan  2002  9.093
3  Afghanistan   Bread - Retail      AFN   Jan  2003 13.000
4  Afghanistan   Bread - Retail      AFN   Jan  2004 15.025
5  Afghanistan   Bread - Retail      AFN   Jan  2005 18.525
6  Afghanistan   Bread - Retail      AFN   Jan  2006 19.025
7  Afghanistan   Bread - Retail      AFN   Jan  2007 22.350
8  Afghanistan   Bread - Retail      AFN   Jan  2008 33.625
9  Afghanistan   Bread - Retail      AFN   Jan  2009 47.000

In [14]:
df2.to_csv(os.path.join(path,"02 Data", 'Prepared Data', 'tableau.csv'))